body{
  font-size: 16px;
}
.el-header{
  padding: 0;
  height: auto!important;
}
.el-main{
  min-height: 90vh;
  padding: 0;
}
.el-main>.container{
  padding: 10px;
  background-color: #f2f4f6;
}
.el-pagination {
  background-color: #fff;
}
.el-checkbox{
  display: block;
}
.el-dialog__header{
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}
.el-step__title{
  font-size: 12px;
}
.el-loading-parent--relative{
  height: 100px;
}
.el-checkbox-group[name="mission_tag"]{
  width: 70%;
  float: right;
  text-align: left;
}
.el-checkbox-group[name="mission_tag"]>label{
  display: inline-block;
}
.el-checkbox-group[name="mission_tag"] .el-checkbox__input{
  display: none;
}
.mission .el-select{
  float: left;
  margin-left: 5%;
}
.el-icon-success{
  color: rgb(35,235,185);
}
.el-dialog__footer{
  border-top:1px solid #e4e4e4;
}
a{
  text-decoration: none;
  color: #409EFF;
}
.date_picker span{
  position: unset;
}
.date_icon{
  position: absolute;
  right: 0;
}
.line1{
  font-size:12px;
  text-align:left;
}
.line2{
  font-size:12px;
  text-align:left;
}
.line3{
  font-size:12px;
  text-align:left;
}
.line4{
  font-size:12px;
  text-align:left;
}
.line5{
  font-size:12px;
  text-align:left;
}
.line6{
  font-size:12px;
  text-align:left;
}
.line7{
  font-size:12px;
  text-align:left;
}
.line8{
  font-size:12px;
  text-align:left;
}
.line9{
  font-size:12px;
  text-align:left;
}
.line10{
  font-size:12px;
  text-align:left;
}
.line10{
  text-align:left;
}
.line1_tit{
  color:#333;
}
.el-table__body-wrapper::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}
/*定义滚动条高宽及背景*/
.el-table__body-wrapper::-webkit-scrollbar
{
  height: 5px;
  background-color: rgba(153, 153, 153, 0.8);
}
/*定义滚动条*/
.el-table__body-wrapper::-webkit-scrollbar-thumb
{
  background-color: #8b8b8b;
  border-radius: 1px;
}
li{
  list-style: none;
}
.el-tree-node {
  float: left;
}
.el-tree-node__expand-icon.is-leaf{
  display: none;
}

.zhankai{
  background-color: rgba(242, 242, 242, 1);
  text-align: left;
  overflow: hidden;
}
.zhankai>div{
  overflow: hidden;
  margin: 10px 0;
  line-height: 18px;
}
.zhankai>div>p{
  float: left;
  padding: 2px 10px;
  margin: 2px 10px!important;
}
.zhankai>div>p.grey{
  margin: 0px 14px;
}
.zhankai>div>p.black{
  margin: 0px 10px;
  cursor: pointer;
  border-radius: 2px;
}
.shouqi>div>p.grey{
  margin: 4px 14px!important;
}
.shouqi>div>p.black{
  margin: 4px 10px!important;
}
.zhankai .button{
  float: right;
  padding: 6px 14px;
  font-size: 12px;
  margin: 10px 10px 0;
}
.father>span{
    display: inline-block;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.father input,.father2 input{
  display:none;
  font-size: 12px;
  color: #555;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 2px;
}
.father select{
  display:none;
  font-size: 12px;
  color: #555;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 2px;
}
.father p,.father2 p{
  display: inline-block;
  margin: 0;
}
.father:hover input,.father:hover select{
  display:inline-block ;
}
.father:hover p,.father:hover span{
  display:none ;
}
ul{
  padding: 0;
  overflow: hidden;
}
li{
  list-style: none;
}
.grey{
  color: #999;
  font-size: 13px;
}
.black{
  color: #444;
  font-size: 13px;
}
.el-tree-node__children .custom-tree-node{
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin-right: 18px;
  padding: 6px 0;
  line-height: 22px;
}
.el-tree-node__content{
  height: unset;
}
.el-dialog{
  min-width: 50vw;
}
.el-pagination{
  text-align: center;
}
.custom-tree-node p{
  margin: 0;
}
.date_picker .el-input__suffix{
  position: absolute;
  right: 20px;
}
/* .aside .con .custom-tree-node p{
  width: 25vw;
  transform: translateX(-36px);
} */
.cell{
  text-align: left;
}
.el-input-number--mini .el-input-number__decrease, .el-input-number--mini .el-input-number__increase {
  width: 15px;
  font-size: 12px;
}
.el-input-number.is-controls-right .el-input__inner {
  padding-left: 5px;
  padding-right: 20px;
}
.el-input-number--mini {
  width: 45px;
  line-height: 26px;
}
.staff_stage_tit span{
  font-size: 12px;
}
.staff_stage_tit .el-button--mini{
  padding: 4px;
}
.el-dropdown{
  cursor: pointer;
}
.el-submenu__title{
  text-align: left;
  padding: 0 15px!important;
  width: 170px;
  box-sizing: border-box;
}
.el-submenu__title>div{
  padding: 0 15px!important;
  width: auto!important;
}
.el-aside{
  background-color: #4B4D50;
}
.part1{
  background-color: #fff;
  padding: 10px;
}
.part2{
  background-color: #fff;
  padding: 10px;
}
.part3{
  background-color: #fff;
  padding: 10px;
}
.el-menu{
  border-right:unset;
}
.el-menu-item-group__title{
  display: none;
}
.el-button--primary{
  background-color: #7496F2;
  border-color: #7496F2;
  color: #fff;
}
.see_active{
  background-color: #7496F2;
  color: #fff;
}
.curson{
  cursor: pointer;
}
.aplayer{
  overflow: unset!important;
}
.aplayer-music{
  display: none;
}
.aplayer-info{
  padding: 0 4px!important;
  height: auto!important;
  overflow: unset!important;
}
.aplayer-pic{
  background-image: unset!important;
  height: 18px!important;
  width: 18px!important;
}
.aplayer-pause,.aplayer-play{
  width: 16px!important;
  height: 16px!important;
  border: unset!important; 
  bottom: 1px!important; 
  right: 1px!important;
  margin: 0!important;
}
.aplayer-icon-play{
  position: absolute!important;
  top: 2px!important;
  left: 2px!important;
  height: 12px!important;
  width: 12px!important;
}
.aplayer-volume-bar-wrap{
  z-index: 9!important;
}